@model IEnumerable<PersonResponse>
@{
    ViewBag.Title = "Persons";
    SortOrderOptions sortFieldOrder = ViewBag.CurrentSortOrder == SortOrderOptions.DESC
        ? SortOrderOptions.ASC
        : SortOrderOptions.DESC;

    string sortIcon = sortFieldOrder switch
    {
        SortOrderOptions.ASC => "fa-sort-up",
        SortOrderOptions.DESC => "fa-sort-down",
        _ => "fa-sort-up",
    };

    string SortLink(string sortBy)
        =>
        $"../persons/index?searchBy={ViewBag.CurrentSearchBy}&searchString={ViewBag.CurrentSearchString}&sortBy={sortBy}&sortOrder={sortFieldOrder}";

    bool isSorted(string sortBy) => ViewBag.CurrentSortBy == sortBy;

    void RenderSortLink(string fieldName, string prettyName)
    {
        <a href="@SortLink(fieldName)">@prettyName</a>

        if (isSorted(fieldName))
        {
            <i class="fa-solid @sortIcon"></i>
        }
    }
}

<form asp-controller="Persons" asp-action="Index" method="get">
    <div class="flex">
        <div class="flex-1">
            <span class="text-grey">
                Contacts <i class="fa-solid fa-caret-right"></i> Persons
            </span>
        </div>

        <div class="flex-1 text-right">
            <a class="button-link button-blue-back" asp-controller="Persons" asp-action="Create">Create Person</a>
            <a class="button-link button-blue-back" asp-controller="Persons" asp-action="PDF">Download as PDF</a>
        </div>
    </div>

    <div class="table-container">
        <div class="flex">
            <div class="flex-1">
                <h1>Persons</h1>
            </div>

            <div class="flex-3">
                <label>Search by:</label>
                <select class="search-dropdown" name="searchBy">
                    @foreach (var field in (Dictionary<string, string>)ViewBag.SearchFields)
                    {
                        if (field.Key == ViewBag.CurrentSearchBy)
                        {
                            <option value="@field.Key" selected>@field.Value</option>
                        }
                        else
                        {
                            <option value="@field.Key">@field.Value</option>
                        }
                    }
                </select>

                <input
                    type="search"
                    id="Search"
                    class="search-text"
                    placeholder="Search"
                    name="searchString"
                    value="@ViewBag.CurrentSearchString" />

                <button class="search-button">Search</button>
                <a asp-controller="Persons" asp-action="Index" class="link-hover ml">Clear</a>
            </div>
        </div>

        <div class="table w-100 mt persons">
            <table class="table w-100 mt persons">
                <thead>
                    <tr>
                        <th>
                            @{
                                RenderSortLink(nameof(PersonResponse.PersonName), "Person name");
                            }
                        </th>
                        <th>
                            @{
                                RenderSortLink(nameof(PersonResponse.Email), "Email");
                            }
                        </th>
                        <th>
                            @{
                                RenderSortLink(nameof(PersonResponse.DateOfBirth), "Date of Birth");
                            }
                        </th>
                        <th>
                            @{
                                RenderSortLink(nameof(PersonResponse.Age), "Age");
                            }
                        </th>
                        <th>
                            @{
                                RenderSortLink(nameof(PersonResponse.Gender), "Gender");
                            }
                        </th>
                        <th>
                            @{
                                RenderSortLink(nameof(PersonResponse.Country), "Country");
                            }
                        </th>
                        <th>
                            @{
                                RenderSortLink(nameof(PersonResponse.Address), "Address");
                            }
                        </th>
                        <th>
                            @{
                                RenderSortLink(nameof(PersonResponse.ReceiveNewsLetters), "Receive Newsletter");
                            }
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (PersonResponse person in Model)
                    {
                        <tr>
                            <td>@person.PersonName</td>
                            <td>@person.Email</td>
                            <td>@person.DateOfBirth?.ToString("yyyy-MM-dd")</td>
                            <td>@person.Age</td>
                            <td>@person.Gender</td>
                            <td>@person.Country</td>
                            <td>@person.Address</td>
                            <td>@person.ReceiveNewsLetters</td>
                            <td>
                                <a class="button-link button-blue-back" asp-controller="Persons" asp-action="Edit" asp-route-personId="@person.PersonID">Edit</a>
                            </td>
                            <td>
                                <a class="button-link button-red-back" asp-controller="Persons" asp-action="Delete" asp-route-personId="@person.PersonID">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</form>
