@model IEnumerable<PersonResponse>
@{
    Layout = null;
}

<link href="@($"http://{Context.Request.Host.ToString()}")/style.css" rel="stylesheet" />

<h1>Persons</h1>

<table class="table w-100 mt">
    <thead>
        <tr>
            <th>Person name</th>
            <th>Email</th>
            <th>Date of Birth</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Country</th>
            <th>Address</th>
            <th>Receive Newsletter</th>
        </tr>
    </thead>

    <tbody>
        @foreach (PersonResponse person in Model)
        {
            <tr>
                <td>@person.PersonName</td>
                <td>@person.Email</td>
                <td>@person.DateOfBirth?.ToString("yyyy-MM-dd")</td>
                <td>@person.Age</td>
                <td>@person.Gender</td>
                <td>@person.Country</td>
                <td>@person.Address</td>
                <td>@person.ReceiveNewsLetters</td>
            </tr>
        }
    </tbody>
</table>
